body{
    font-family: 'Poppins', sans-serif;
    color: black;
}
.name{
    color: orange;
}
p{
    color: black;
    font-weight: 700;
}
.half-width{
    padding: 4%;
    margin-left: 10px;
    width: 40%;
    float: left;
}
.half-width2{
    padding: 3%;
    margin-right: 10px;
    width: 40%;
    float: right;
}
.half-width2 img{
    width: 100%;
}
