body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
}
h1{
    font-weight: 700;
    font-size: 30px;
}
.name{
    color: orange;
}
p{
    color: black;
    font-weight: 700;
}
.half-width{
    padding: 4%;
    margin-left: 10px;
    width: 40%;
    float: left;
}
.half-width2{
    padding: 3%;
    margin-right: 10px;
    width: 40%;
    float: right;
}
.half-width2 img{
    width: 100%;
}
.section-1{
    background-repeat: no-repeat;
    height: 500px;
    background-image: url("developer-portfolio/top-banner.png");
}